body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 70%;
    background-color: gray;
    padding: 10px;
}