/* Fonts */
@font-face {
    font-family: minecraftBig;
    src: url('/fonts/Minecrafter.Reg.ttf') format('truetype')
}

@font-face {
    font-family: minecraft;
    src: url('/fonts/Minercraftory.ttf') format('truetype')
}

/*----Body----*/
/*Fixar bakgrunden så att den hamnar över hela bodyn*/
body {
    font-family: minecraft;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*----Navbar----*/

/*Navbarens bakgrund*/
.navbar {
    font-family: minecraftBig;
    background-color: rgba(0, 0, 0, 0.5)
}

.nav-link {
    color: rgb(219, 219, 219) !important;
}

/*Shoppingcart-knappens bakgrund*/
.btn-nav {
    background-color: rgb(219, 219, 219);
    border: none;
}

.badge {
    background-color: transparent;
}

/*Container runt hela "flödet"*/
.container {
    max-width: 75vw;
    background-color: rgba(190, 190, 190, 0.7);
    padding: 50px;
}