/* Fonts */
@font-face {
    font-family: minecraftBig;
    src: url('/fonts/Minecrafter.Reg.ttf') format('truetype')
}

@font-face {
    font-family: minecraft;
    src: url('/fonts/Minercraftory.ttf') format('truetype')
}

@font-face {
    font-family: defaultText;
    src: url('/fonts/Squarified.ttf') format('truetype')
}

.defualtFont {
    font-family: defaultText;
}

/* Fix reading text */
.fontFix {
    font-size: 22px;
    letter-spacing: 0.05em;
}

/*----Body----*/
/*Fixar bakgrunden så att den hamnar över hela bodyn*/
body {
    /* font-family: minecraft; */
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/*----Navbar----*/

/*Navbarens bakgrund*/
.navbar {
    font-family: minecraftBig;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
    color: rgb(219, 219, 219) !important;
}

/*Shoppingcart-knappens bakgrund*/
.btn-nav {
    background-color: rgb(219, 219, 219);
    border: none;
}

.badge {
    background-color: transparent;
}

/*Container runt hela "flödet"*/
.container {
    margin-top: 4rem;
    max-width: 75vw;
    padding: 25px;

}

/*Inre container i flödet*/
#inner-container {
    background-color: rgba(0, 0, 0, 0.5);
}

/*Container för cards (Point of interest)*/
.card-coords {
    color: rgb(25, 25, 25);
}

h2 {
    font-family: minecraft;
}

/* 
.is-invalid::placeholder {
    color: red;
} */

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75vw;
    width: 100%;
    margin: 0px auto;
    margin-top: 2rem;
    margin-bottom: -2rem;
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.5);

}

.notification p {
    padding: 0px;
    margin: 0px;
}

.notification i {
    cursor: pointer;
}

.notification-info {
    background-color: rgba(193, 229, 236, 0.75);
    color: #0C5460;
}

.notification-success {
    background-color: rgba(197, 231, 205, 0.75);
    color: #155724;
}

.notification-danger {
    background-color: rgba(245, 201, 205, 0.75);
    color: #721c24;
}

.notification-warning {
    background-color: rgba(255, 239, 188, 0.75);
    color: #856404;
}

.custom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.custom-dropdown {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;

    /* transform: translate(-50%, -50%); */
}

.custom-dropdown hr {
    margin: 0px;
    margin-top: 0.5rem;
}

.custom-dropdown-search {
    margin: 0.5rem;
}

.custom-dropdown-items {
    /* one item ~= 41px * 7 aka display 7 items at one moment */
    max-height: calc(41px * 7);
    overflow: scroll;
    overflow-x: hidden;
}

.custom-dropdown-item-group {
    color: var(--gray-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-dropdown-item-group:hover {
    background-color: var(--blue);
    color: var(--white);
}

.custom-dropdown-item-group:last-child {
    border: none;
}

.custom-dropdown-item-img {
    width: 20px;
    height: 20px;
    image-rendering: crisp-edges;
}

.custom-dropdown-item-title {
    margin: 0px;
    padding: 0px;

    margin-left: 0.5rem;
}


.hide {
    display: none;
}

@media only screen and (max-width: 1600px) {
    .custom-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1300px) {
    .custom-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 1rem;
        margin-top: 0px;
        min-height: calc(100vh - 56px);
        /* 56px is the navbars height */
    }

    .notification {
        max-width: 100%;
        width: 100%;
        padding: 1rem;
        margin: 0px;

    }

    .custom-grid {
        grid-template-columns: 1fr;
    }
}

/* Just for shits and giggles */
.notification-hide {
    transition: all ease-in-out 1s;
    height: 0px;
    color: rgba(0, 0, 0, 0.0);
    padding-top: 0px;
    padding-bottom: 0px;
}